@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Cabin+Condensed:wght@400;500;600;700&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');
/*font-family: "Poppins", sans-serif;*/

:root {
    --primary:     #FAF0CA;
    --secondary:   #F4D35E;
    --light-ocean: #1c73c4;
    --ocean:       #10477a;
    --shadow:      #081e33;
    --text-color:  #030a11;
    --white:       rgb(233, 227, 203);
    --tone:        #EE964B;
}
* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: solid 2px lightblue;
}
html {
    scroll-behavior: smooth;
    max-height: 100vh;
    overflow: auto;
    scroll-padding-top: 35px;
}
.navbar,
section,
footer {
    background-color: var(--primary);
}

/*Navbar Section*/

/*Main Section*/
.main_image {
    filter: brightness(80%);
}
input[type="tel"],
input[type="email"] {
    width: 100%;
}
#fig-text {
    position: absolute;
    top: 20%;
    left: 40%;
    background-color: transparent;
    color: var(--shadow);
    font-size: clamp(20px, 3vw, 40px);
}
#fig-btn {
    position: absolute;
    text-wrap: nowrap;
    top: 35%;
    left: 41%;
    width: 15%;
    height: 7%;
    text-align: center;
    justify-content: center;
    font-size: clamp(4px, 2vw, 20px);
}

/*Card Section*/

/*Learning Section*/
.learn-item {
    margin-top: clamp(10px, 4vw, 80px);
    font-size: 20px;
}

/*Trainer Section*/


/*Contact Section*/
.contact-icon {
    font-size: clamp(15px, 3vw, 20px);
}

/*Hours Section*/


/*Footer Section*/
.copyright {
    font-size: clamp(5px, 3vw, 20px);
}